* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.work-sans-nomal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  width: 75%;
  margin: 0 auto;
}

/* === share style === */
.display_flex {
  display: flex;
}
.cmn_btn {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
}
.paragraph {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}
.feature {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  padding: 20px 24px;
  background: rgb(255, 144, 14);
}
/* ==== nav part start ==== */
header {
  padding: 50px 0;
}
nav > .container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav > .container > ul {
  gap: 40px;
  flex-wrap: wrap;
}
nav > .container > .logoName {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
nav > .container > ul li a {
  color: rgb(66, 66, 66);
  font-size: 1.5rem;
  font-weight: 500;
}
#banner > .container > .banner_text {
  width: 45%;
  margin: 116px auto 33px;
  text-align: center;
}
#banner > .container > .banner_text h1 {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
}
#banner > .container > .banner_text p {
  margin: 20px 0 32px;
}
#banner > .container > .img img {
  width: 100%;
}

/* ==== nav part end ==== */

/* ==== team part start ==== */
#team {
  padding: 85px 0;
}
#team > .container {
  display: flex;
  gap: 4.5rem;
  justify-content: space-between;
  align-items: center;
}
/* #team > .container > .feature_img>.img_div{
    width: 342px;
} */
#team > .container > .feature_img {
  display: grid;
  grid-template-columns: repeat(2, 342px);
  gap: 24px;
}

#team > .container .feature_text h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgb(114, 114, 114);
  width: 52%;
}
#team > .container .feature_text h2 > .off_our {
  color: rgb(19, 19, 19);
}
#team > .container .feature_text h2 > .brand {
  color: rgb(255, 144, 14);
}
#team > .container .feature_text p {
  width: 62%;
  margin: 24px 0 32px;
}
/* ==== team part end ==== */

/* ==== feature part start ==== */
#feature > .container {
  display: flex;
  gap: 146px;
  justify-content: space-between;
  align-items: center;
}
#feature > .container h2 {
  width: 648px;
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 21px;
  border-left: 5px solid rgb(255, 144, 14);
}
#feature > .container > .feature_text_parent {
  width: 586px;
}
#feature > .container > .feature_text_parent p {
  margin: 24px 0 30px;
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}
#feature > .container > .feature_text_parent > .feature_text {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}
#feature > .container > .feature_text_parent > .feature_text h3 {
  color: rgb(19, 19, 19);
  font-size: 20px;
  font-weight: 600;
}
#feature > .container > .feature_text_parent > .feature_text p {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
#feature > .container #experience_badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
  border: none;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

/* ==== feature part end ==== */

/* ==== facts part start ==== */
#facts {
  padding-bottom: 180px;
  padding-top: 50px;
}
#facts > .container h3 {
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
}
#facts > .container > p {
  margin: 24px 0 0;
}
#facts > .container > .facts_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
#facts > .container > .facts_parent .facts_item {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  padding: 45px 35px;
  border-radius: 8px;
}
#facts > .container > .facts_parent .facts_item h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* ==== facts part end ==== */

/* ==== sponsor part start ==== */
#sponsor h3 {
  width: 327px;
  margin: 0 auto 24px;
  text-align: center;
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
#sponsor p {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
#sponsor .sponsor_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
#sponsor .sponsor_img img {
  filter: grayscale(100%);
}
/* ==== sponsor part end ==== */
footer {
  padding: 38px 0;
  background-color: rgb(255, 244, 231);
  text-align: center;
  margin-top: 142px;
}
footer small {
  font-size: 1.5rem;
}

/* ========= responsive style start =========== */

@media screen and (min-width:993px) and (max-width:1400px) {
  #banner > .container > .banner_text {
    width: 100%;
}
  #team > .container {
    gap: 4.5rem;
    flex-direction: column;
  }
  #feature > .container {
    flex-direction: column;
    text-align: center;
  }
  .feature_text {
	text-align: center;
}
#team > .container .feature_text h2 {
  margin: 0 auto;
}
#team > .container .feature_text p {
	margin: 24px auto 32px;
}
}
@media screen and (min-width:577px) and (max-width:992px) {
   nav > .container {
	gap: 10px;
}
  #banner > .container > .banner_text {
	width: 100%;
}
  #team > .container {
    gap: 4.5rem;
    flex-direction: column;
  }
  #team > .container > .feature_img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
  #team > .container .feature_text h2 {
    margin: 0 auto;
    width: 100%;
  }
  #team > .container .feature_text p {
    margin: 24px auto 32px;
  }
  .feature_text {
    text-align: center;
  }
  #feature > .container {
    flex-direction: column;
  }
  #feature > .container h2 {
    width: 100%;
  }
  #feature > .container > .feature_text_parent {
    width: 100%;
  }
  .feature_img img {
    width: 100%;
  }
  #feature > .container #experience_badge {
    padding: 30px 45px;
    margin: 0;
  }
  #experience-year {
    font-size: 3rem;
  }
  #facts > .container > .facts_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
   #sponsor h3{
    width: 100%;
   }
  #sponsor .sponsor_img {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  nav > .container {
	gap: 10px;
}
  #banner > .container > .banner_text {
	width: 100%;
}
  #team > .container {
    gap: 4.5rem;
    flex-direction: column;
  }
  #team > .container > .feature_img {
    grid-template-columns: repeat(1, 342px);
    gap: 24px;
  }
  #team > .container .feature_text h2 {
    margin: 0 auto;
    width: 100%;
  }
  #team > .container .feature_text p {
    margin: 24px auto 32px;
  }
  .feature_text {
    text-align: center;
  }
  #feature > .container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #feature > .container h2 {
    width: 100%;
  }
  #feature > .container > .feature_text_parent {
    width: 100%;
  }
  .feature_img img {
    width: 100%;
  }
  #feature > .container #experience_badge {
    padding: 30px 45px;
    margin: 0;
  }
  #experience-year {
    font-size: 3rem;
  }
  #facts > .container > .facts_parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
   #sponsor h3{
    width: 100%;
   }
  #sponsor .sponsor_img {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    text-align: center;
  }
}
